* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body {
    height: fit-content;
}

.header {
    height: auto;
    min-height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #afe96d;
}

.header-img {
    height: 8vh;
    margin-left: 20px;
    padding: 2px;
}

.auth {
    padding: 8px;
}

.auth button {
    font-size: 16px;
    padding: 5px 15px;
    border-radius: 8px;
    margin-left: 10px;
    background-color: orangered;
    color: #F1F8E9;
    border: none;
    cursor: pointer;
}

nav {
    min-height: 5vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #bede95;
    flex-wrap: wrap;
    padding: 10px 0;
}

nav a {
    text-decoration: none;
    color: green;
    padding: 5px 10px;
}

.serach {
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./asset/images/Home-Tour.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.serch-bar {
    height: auto;
    min-height: 100px;
    width: 90%;
    max-width: 1000px;
    background-color: #ffffff7f;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.serch-bar button {
    background-color: orange;
    border: none;
    height: 50px;
    width: 100px;
    border-radius: 25px;
    cursor: pointer;
}

.dest, .date, .search-input {
    height: 50px;
    border: none;
    border-radius: 10px;
    padding: 0 10px;
}

.dest { width: 150px; }
.date { width: 150px; }
.search-input { width: 250px; }

@media (max-width: 576px) {
    .header {
        flex-direction: column;
        padding: 10px;
    }
    .header-img {
        margin-left: 0;
        margin-bottom: 10px;
    }
    .auth button {
        margin: 5px;
    }
    nav {
        flex-direction: column;
        gap: 10px;
    }
    .serch-bar {
        flex-direction: column;
        width: 95%;
    }
    .dest, .date, .search-input {
        width: 100%;
    }
}

@media (min-width: 577px) and (max-width: 993px) {
    .serch-bar {
        width: 80%;
    }
    .search-input {
        width: 200px;
    }
}

@media (min-width: 994px) {
    .serch-bar {
        width: 70%;
    }
}